version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: eduqcm_db
    env_file: backend/.env
    restart: unless-stopped
    command: --default-authentication-plugin=mysql_native_password
    deploy:
      resources:
        limits:
          memory: 750M
        reservations:
          memory: 200M
    logging:
      driver: "json-file"
      options:
        max-size: "10M"
        max-file: "3"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/database:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"

volumes: 
  mysql_data: